* {
  box-sizing: border-box;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('beach-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

main, header {
  z-index: 1;
}

.text-input h3, input{
  display: inline-block;
  font-size: 14px;
}

.text-input input {
  border: 1px gray solid;
  border-radius: 10%;
  font-size: 12px;
  padding: 4px;
}

button {
    background-color: rgb(240, 240, 245);
    border: none;
    border-radius: 5%;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid #4CAF50;
  }

button:hover {
  background-color: #4CAF50;
  color: white;
}

#left-pane, #js-fun-results, #js-food-results {
  padding-left: 15px;
  vertical-align: top;
}

#span-holder {
  display: inline-block;
  position:relative;
}

#loading {
  position: absolute;
  /*bottom: 10px;;*/
}

#loading p {
  display: inline-block;
  font-size: 30px:
  /*font-weight: bold;*/

}

#map {
  display: inline-block;
  height: 300px;
  width: 100%;
  vertical-align: top;

}
#map {
    border: 1px black solid;
    -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   border-radius: 5%;
}

#js-weather-forecast h2 {
  padding-left: 0.6em;
}
.weather-forecast {
  max-width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 4px;
  font-size: .8em;
}
  .weather-forecast h3 {
    /*text-align: center;*/
    padding-left: 8px;
    width: 85%;
  }

  .weather-forecast img {
    text-align: center;
    display: block;
    margin: auto;
  }

  .weather-blurb {
    width: 75%;
    /*margin: auto;*/
  }

.img-blurb {
  display: inline-block;
}


  .image {
    display: inline-block;
    position: relative  ;
  }
    .image img {
      width: 100%;
      border: 1px black solid;
      border-radius: 10%;
    }

  .blurb {
    vertical-align: top;
    display: inline-block;
    width: 125px;
    font-size: 0.85em;
    overflow-y: scroll;
  }

  .image span {
    font-size: 0.8em;
    margin-left: 0.4em;
    border-radius: 50%;
    padding: 0.4em;
    border: 1px solid black;
    background-color: #f4ce42;
    position: absolute;
    right: -2px;
    top: -5px;
  }
