* {
  box-sizing: border-box;
}

body {
  padding: 0;
  /*margin: auto;*/
  font-family: 'Roboto', sans-serif;
}

#left-pane, #js-fun-results, #js-food-results {
  /*max-width: 33.33%;*/
  /*display: inline-block;*/
  padding-left: 10px;
  vertical-align: top;
  overflow-y: scroll;
  max-height: 900px;
}

#map {
  display: inline-block;
  height: 300px;
  width: 100%;
  vertical-align: top;
}

.weather-forecast {
  max-width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 4px;
  font-size: .8em;
}
  .weather-forecast h3 {
    text-align: center;
    padding-left: 8px;
    width: 85%;
  }

  .weather-forecast img {
    text-align: center;
    display: block;
    margin: auto;
  }

  .weather-blurb {
    width: 75%;
    margin: auto;
  }

.img-blurb {
  display: inline-block;
}

  .image {
    display: inline-block;
    border: 1px black solid;
    position: relative  ;
  }
    .image img {
      width: 100%;
    }

  .blurb {
    vertical-align: top;
    display: inline-block;
    width: 125px;
    font-size: 0.85em;
    overflow-y: scroll;
  }

  .image span {
    font-size: 0.8em;
    margin-left: 0.4em;
    border-radius: 50%;
    padding: 0.4em;
    border: 1px solid black;
    background-color: #f4ce42;
    position: absolute;
    right: -5px;
    top: -5px;
  }

.window {
  margin: auto;
}
