* {
  box-sizing: border-box;
}

body {
  padding: 0;
  /*margin: auto;*/
  font-family: 'Roboto', sans-serif;
}

#left-pane, #js-fun-results, #js-food-results {
  max-width: 33.33%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  overflow-y: scroll;
  max-height: 900px;
}

#map {
  display: inline-block;
  height: 300px;
  width: 100%;
  vertical-align: top;
}

.weather-forecast {
  max-width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 4px;
  font-size: .8em;
}
  .weather-forecast h3 {
    text-align: center;
    padding-left: 8px;
  }

  .weather-forecast img {
    text-align: center;
    display: block;
    margin: auto;
  }

  .weather-blurb {
    width: 75%;
    margin: auto;
  }

.img-blurb {
  height: 150px;
  max-width: 315px;
  /*width: 500px;*/
}

  .image {
    display: inline-block;
    border: 1px black solid;
  }

  .blurb {
    vertical-align: top;
    display: inline-block;
    width: 150px;
  }
